.--bt {
    border-top: $borderSize solid $colorPrimary;
}
.--br {
    border-right: $borderSize solid $colorPrimary;
}
.--bb {
    border-bottom: $borderSize solid $colorPrimary;
}
.--bl {
    border-left: $borderSize solid $colorPrimary;
}
.--bx {
    border-right: $borderSize solid $colorPrimary;
    border-left: $borderSize solid $colorPrimary;
}
.--by {
    border-top: $borderSize solid $colorPrimary;
    border-bottom: $borderSize solid $colorPrimary;
}
.--ba {
    border: $borderSize solid $colorPrimary;
}