.--bt {
    border-top: $borderSize solid $colorSecondary;
}
.--br {
    border-right: $borderSize solid $colorSecondary;
}
.--bb {
    border-bottom: $borderSize solid $colorSecondary;
}
.--bl {
    border-left: $borderSize solid $colorSecondary;
}
.--bx {
    border-right: $borderSize solid $colorSecondary;
    border-left: $borderSize solid $colorSecondary;
}
.--by {
    border-top: $borderSize solid $colorSecondary;
    border-bottom: $borderSize solid $colorSecondary;
}
.--ba {
    border: $borderSize solid $colorSecondary;
}
.--b-invert {
    border-color: $colorPrimary;
}