button {
  -webkit-appearance: none;
  background: transparent;
  border: $borderSize solid $colorSecondary;
  padding: 1rem;
  color: $colorSecondary;
  outline: none;
  box-shadow: none;
  font-size: 2rem;
  cursor: pointer;
}