input[type="text"] {
  -webkit-appearance: none;
  background: transparent;
  border: $borderSize solid $colorPrimary;
  padding: 1rem;
  color: $colorPrimary;
  outline: none;
  box-shadow: none;
  font-size: 1.5rem;
}

::placeholder {
  text-transform: uppercase;
}

label {
  margin-bottom: 1rem;
  display: block;
}