@mixin content-left {
    justify-content: flex-start;
    width: $sectionLeftWidth;
}

@mixin content-right {
    justify-content: flex-end;
    width: $sectionRightWidth;
}

@mixin underline-hover-anchor($color) {
    display: inline-block;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .8s cubic-bezier(.23,1,.32,1);
        will-change: transform;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}