/* Colors */
$primary: #fff;
$secondary: #000;

/* Fonts */
$main_font: 'Montserrat', sans-serif;
$accent_font: 'Phosphate-Solid', cursive;

/* Sizing */
$sidebar_header_size: 5.5rem;

$section_left_width: 55%;
$section_right_width: 45%;

$border_size: 2px;

$small_gap: 1.5rem;
$standard_gap: 2.5rem;
$large_gap: 4rem;