/* Colors */
$colorPrimary: #fff;
$colorSecondary: #000;
$colorAccent: #ff5678;

/* Fonts */
$fontMain: 'Montserrat', sans-serif;
$fontAccent: 'Phosphate-Solid', cursive;

/* Sizing */
$sidebarHeaderSize: 5.5rem;

$sectionLeftWidth: 55%;
$sectionRightWidth: 45%;

$borderSize: 2px;

$gapSmall: 1.5rem;
$gapStandard: 2.5rem;
$gapLarge: 4rem;